﻿@model LibraryTaskMVC.Models.FeedBackViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FeedBackViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FeedBackId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeedBackId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserProfileId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserProfileId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfReview)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfReview)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReviewContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewContent)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FeedBackId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
