﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.title {
    display: flex;
    width: 100%;
}
.title img {
    height: 100px;
    margin-left: 0px;
    margin-right: auto;
}
.title p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    padding: 20px;
}
/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    padding-top: 12%;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

    /* The sidebar links */
    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        /* When you mouse over the navigation links, change their color */
        .sidebar a:hover {
            color: #f1f1f1;
        }

    /* Position and style the close button (top right corner) */
    .sidebar .closebtn {
        left: 0;
        font-size: 36px;
    }
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

        .sidebar a {
            font-size: 18px;
        }
}

/* The button used to open the sidebar */
.openbtn {
    margin-right: 0px;
    margin-left: auto;
    font-size: 22px;
    cursor: pointer;
    background-color: #0468b3;
    color: white;
    padding: 10px 15px;
    border: none;
}

    .openbtn:hover {
        background-color: #444;
    }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    width: 80%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    transition: margin-right .5s; /* If you want a transition effect */
    padding: 20px;
}
.formtextbox {
    width: 100%;
    border: 1px solid brown;
    height: 35px;
    border-radius: 5px;
    margin-left: 50px;
}
.formfeedback {
    width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 12px; /* Some padding */
    border: 3px #ccc; /* Gray border */
    border-radius: 3px; /* Rounded borders */
}
.formcomment {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: auto;
    width: 100%;
    padding: 12px; /* Some padding */
    border: 3px #ccc; /* Gray border */
    border-radius: 3px; /* Rounded borders */
    background-color: honeydew;
}
.switcher {
    margin-left: 100px;
}

footer {
    width: 100%;
    text-align: center;
}