﻿@model IEnumerable<DAL.Models.Tag>
@{
    ViewBag.Title = "Questionnaire";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Questionnaire</h2>
@Html.ActionLink("Show All Articles", "GetAllArticles")

@using (Html.BeginForm("SearchArticle", "Questionnaire", FormMethod.Post, new { @class = "formfeedback" }))
{
    <table>
        <tr>
            <td>@Html.Label("Enter Title of article") </td>
            <td>@Html.TextBox("title", "", new { @class = "formtextbox", @placeholder = "Enter name" })</td>
        </tr>
        <tr>
            <td>@Html.Label("Enter Name of author") </td>
            <td>@Html.TextBox("author", "", new { @class = "formtextbox", @placeholder = "Enter name" })</td>
        </tr>
        <tr>
            <td>@Html.Label("Sort by Date:") </td>
            <td>
                @Html.RadioButton("sortdate", "asc", new { @class = "switcher" })@Html.Label("Ascending")
                @Html.RadioButton("sortdate", "dsc")@Html.Label("Descending")
            </td>
        </tr>
        <tr>
            <td> @Html.Label("Select Tag:") </td>
            <td>
                @Html.DropDownList("Tags", ViewBag.Tags as SelectList)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" name="sub1" value="Search" class="btn btn-primary btn-lg" />
            </td>
        </tr>
    </table>
}