﻿@model IEnumerable<LibraryTaskMVC.Models.ArticleViewModel>
@using LibraryTaskMVC.Extensions

@{
    ViewBag.Title = "SearchResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@helper ArticleDetails(LibraryTaskMVC.Models.ArticleViewModel article)
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Publication</th>
                <th>Tag</th>
                <th>Content</th>
            </tr>
        </thead>
        <tr>
            <td>@article.ArticleId</td>
            <td>@article.Title</td>
            <td>@article.Author</td>
            <td>@article.DateOfPublication</td>
            <td>@article.TagName</td>
            <td>@article.Content</td>
        </tr>
    </table>
}
<h2>SearchResult</h2>
<div>
    @if (Model != null)
    {
        @Html.ArticleList(Model)
    }
    else
    {
        @ArticleDetails(ViewBag.Article)
    }
</div>
