﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Views and Controllers</h1>
    <p class="lead">Create a ASP.NET MVC type (.NET Framework) web-application using a monolithic architecture.
    Web-application is a prototype of the electronic system "Library".</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Low Level:</h2>
        <p>Develop three pages (different controllers)</p>
        <p>3.1. Main - consists of articles and menu (contains links to other pages - Main, Guest and Questionnaire)</p>
        <p>3.2. Guest - consists of a feed of feedback and a form for providing feedback.
            • The feedback contains the name of the author, the date of the review, the text of the review.
            • The response form contains fields for entering the author's name and text
            response
        </p>
        <p>3.3. Questionnaire - should contain text fields, elements of multiple choice (checkbox), switches</p>
        
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Middle Level:</h2>
        <p>1. Implement the Low level.</p>
        <p>2. Develop and use extension method to work with the questionnaire instead of an inline helper.</p>
        <p>3. Bootstrap is mandatory when developing a template and presentation.</p>
        <p>4. Upload the project.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Advanced Level:</h2>
        <p>1. Implement the Middle level.</p>
        <p>2. Develop and use both inline helper and extension method to work with the questionnaire.</p>
        <p>3. Use Bootstrap during template development and presentation.</p>
        <p>4. Upload the project.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>