﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr", "~/bundles/SideBar")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header title">
                    <img src="~/Content/Images/logo.png"/>
                    <p>@Html.ActionLink("My Library Task", "Index", "Home")</p>
                    <button class="openbtn" onclick="openNav()">&#9776; Menu</button>
                </div>
            </div>
        </div>
    <div id="main">
        <div class="container body-content">
            @RenderBody()
        </div>
    </div>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">@Html.ActionLink("Main", "Index", "Main")</a>
        <a href="#">@Html.ActionLink("Guest", "Index", "Guest")</a>
        <a href="#">@Html.ActionLink("Questionnaire", "Index", "Questionnaire")</a>
    </div>
    <div class="container body-content">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @Html.ActionLink("Maksym Shelestiuk maxshelestiuk@gmail.com", "Index")</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
